table,
th,
td {
    background-color: #fff;
    font-size: 2rem;
    border: 1px solid black;
}

table {
    margin-top: 2rem;
    background-color: #3f51b5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

form {
    width: 100%;
}

button {
    margin-top: 2rem;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #ba000d;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

section {
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    padding: 10px;
}